[submodule "src/_2nd_party/phathom"]
	path = src/_2nd_party/phathom
	url = git@github.com:chunglabmit/phathom.git
[submodule "src/_2nd_party/nuggt"]
	path = src/_2nd_party/nuggt
	url = https://github.com/chunglabmit/nuggt
[submodule "src/_3rd_party/Probabilistic-Unet-Pytorch"]
	path = src/_3rd_party/Probabilistic-Unet-Pytorch
	url = https://github.com/stefanknegt/Probabilistic-Unet-Pytorch.git
[submodule "src/_3rd_party/py-lapsolver"]
	path = src/_3rd_party/py-lapsolver
	url = https://github.com/cheind/py-lapsolver.git
[submodule "src/_2nd_party/mp_shared_memory"]
	path = src/_2nd_party/mp_shared_memory
	url = https://github.com/chunglabmit/mp_shared_memory.git
